<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <!-- appenders -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
    </layout>
  </appender>
  
  <!-- loggers -->
  
  <logger name="com.qrmedia.commons.aspect.advice.BasicProfilingAdvice">
    <!-- will not output unless level is DEBUG or lower -->
    <level value="DEBUG" />
  </logger>
  
  <logger name="com.qrmedia.commons.aspect.advice.MethodExecutionTracingAdvice">
    <!-- will not output unless level is TRACE or lower -->
    <level value="TRACE" />
  </logger> 
  
  <!-- root (default) logger -->
  <root>
    <level value="INFO" />
    <appender-ref ref="console" />    
  </root>
</log4j:configuration>